<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musique">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".services.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Musique">
        <activity android:name=".AddSongToPlaylist" />

        <receiver
            android:name=".services.NotificationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="ACTION_PLAY" />
                <action android:name="ACTION_NEXT" />
                <action android:name="ACTION_PREVIOUS" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.PlayerService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".PlaylistSongs" />
        <activity android:name=".Playlists" />
        <activity android:name=".FolderSongs" />
        <activity android:name=".Folders" />
        <activity android:name=".Favorites" />
        <activity android:name=".AlbumSongs" />
        <activity android:name=".Player" />
        <activity android:name=".Test" />
        <activity
            android:name=".Library"
            android:label="@string/title_activity_library"
            android:theme="@style/Theme.Library"/>
        <activity android:name=".Home" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>