<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musique">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Musique">
        <activity
            android:name=".PlaylistSongs"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Playlists"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".FolderSongs"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Folders"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Favorites"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".AlbumSongs"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Player"
            android:theme="@style/Theme.Player" />
        <activity android:name=".Test" />
        <activity
            android:name=".Library"
            android:label="@string/title_activity_library"
            android:theme="@style/Theme.Library" />
        <activity
            android:name=".Home"
            android:theme="@style/Theme.Home" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>